HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

Docker/.env

### Arquivos gerais ###
*.pdf
*.xlsx
*.xls
*.xlk
*.ppt
*.doc
*.temp
*.txt
.run/
*.log
*.gz
/logs
/public/logs
Docker/public/logs
Docker/logs
Docker/jar/*.jar
*.jar
/public/